In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
from sklearn import datasets

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
from sklearn.ensemble import RandomForestClassifier

In [4]:
data=pd.read_csv('pima-data.csv')

In [5]:
data.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [6]:
data=data.fillna(0)

In [7]:
data.count()

num_preg        768
glucose_conc    768
diastolic_bp    768
thickness       768
insulin         768
bmi             768
diab_pred       768
age             768
skin            768
diabetes        768
dtype: int64

In [8]:
data['diabetes']=data['diabetes']*1

In [9]:
data.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1

In [10]:
print(data.mean())

num_preg          3.845052
glucose_conc    120.894531
diastolic_bp     69.105469
thickness        20.536458
insulin          79.799479
bmi              31.992578
diab_pred         0.471876
age              33.240885
skin              0.809136
diabetes          0.348958
dtype: float64

In [11]:
print(data.min())

num_preg         0.000
glucose_conc     0.000
diastolic_bp     0.000
thickness        0.000
insulin          0.000
bmi              0.000
diab_pred        0.078
age             21.000
skin             0.000
diabetes         0.000
dtype: float64

In [12]:
print(data.max())

num_preg         17.0000
glucose_conc    199.0000
diastolic_bp    122.0000
thickness        99.0000
insulin         846.0000
bmi              67.1000
diab_pred         2.4200
age              81.0000
skin              3.9006
diabetes          1.0000
dtype: float64

In [13]:
features=data[['num_preg', 
               'glucose_conc', 
               'diastolic_bp',
               'thickness',
               'insulin',
               'bmi', 
               'diab_pred', 
               'age', 
               #'skin'
              ]]
label=data[['diabetes']]

In [14]:
#storing col names in var
col_names=features.columns
col_names

Index(['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin',
       'bmi', 'diab_pred', 'age'],
      dtype='object')

In [15]:
featues_train,features_test,label_train,label_test=train_test_split(features, label, test_size=0.3)

In [16]:
model=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=199,
            min_impurity_split=0.0, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [17]:
model.fit(featues_train,label_train)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=199,
            min_impurity_split=0.0, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [18]:
predictions=model.predict(features_test)

In [19]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(label_test, predictions))

Accuracy: 0.766233766234

### Feature importance

In [20]:
print ("Features sorted by their score:")
feature_imp= list(sorted(zip(map(lambda x: round(x, 4), model.feature_importances_), features), 
             reverse=True))

Features sorted by their score:

In [21]:
for x in feature_imp:
    print (x)

(0.2571, 'glucose_conc')
(0.16500000000000001, 'bmi')
(0.14269999999999999, 'age')
(0.12039999999999999, 'diab_pred')
(0.091600000000000001, 'diastolic_bp')
(0.080500000000000002, 'num_preg')
(0.072599999999999998, 'thickness')
(0.070099999999999996, 'insulin')

## By normalizing the dataset

In [22]:
# importing packages
from sklearn import preprocessing

In [23]:
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(features)
df_normalized = pd.DataFrame(np_scaled)
df_normalized.head()

,0,1,2,3,4,5,6,7
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000

In [24]:
df_normalized.columns=col_names

In [26]:
df_normalized.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000

In [27]:
print(df_normalized.mean())

num_preg        0.226180
glucose_conc    0.607510
diastolic_bp    0.566438
thickness       0.207439
insulin         0.094326
bmi             0.476790
diab_pred       0.168179
age             0.204015
dtype: float64

In [28]:
print(df_normalized.min())

num_preg        0.0
glucose_conc    0.0
diastolic_bp    0.0
thickness       0.0
insulin         0.0
bmi             0.0
diab_pred       0.0
age             0.0
dtype: float64

In [29]:
print(df_normalized.max())

num_preg        1.0
glucose_conc    1.0
diastolic_bp    1.0
thickness       1.0
insulin         1.0
bmi             1.0
diab_pred       1.0
age             1.0
dtype: float64

In [93]:
features=data[['num_preg', 
               'glucose_conc', 
               'diastolic_bp',
               'thickness',
               'insulin',
               'bmi', 
               'diab_pred', 
               'age', 
               #'skin'
              ]]
label=data[['diabetes']]

In [94]:
featues_train,features_test,label_train,label_test=train_test_split(features, label, test_size=0.3)

In [95]:
model=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=0.0, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [96]:
model.fit(featues_train,label_train)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=0.0, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [97]:
predictions=model.predict(features_test)

In [100]:
predictions=pd.DataFrame(predictions)

In [102]:
predictions.columns=['predicted_diabetes']
predictions.head()

   predicted_diabetes
0                   0
1                   0
2                   0
3                   0
4                   0

In [98]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(label_test, predictions))

Accuracy: 0.800865800866

### Feature importance

In [109]:
print ("Features sorted by their score:")
feature_imp= list(sorted(zip(map(lambda x: round(x, 4), model.feature_importances_), features), 
             reverse=True))

Features sorted by their score:

In [110]:
for x in feature_imp:
    print (x)

(0.2495, 'glucose_conc')
(0.16889999999999999, 'bmi')
(0.1386, 'age')
(0.12529999999999999, 'diab_pred')
(0.092799999999999994, 'diastolic_bp')
(0.081600000000000006, 'num_preg')
(0.073200000000000001, 'thickness')
(0.070199999999999999, 'insulin')

#### Predicting on full dataset

In [111]:
full_pred=model.predict(features)

In [112]:
print("Accuracy:",metrics.accuracy_score(label, full_pred))

Accuracy: 0.940104166667